<!-- views/partials/header2.ejs -->
<div></div>
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            Travel in Ukraine
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
			<li><a style="cursor:pointer" onclick="getPlacesOfInterest()">Places of interest</a></li>
            <li><a style="cursor:pointer" onclick="getContactForm()">Contact</a></li>
        </ul>
    </div>
	
	<div>
	<ul class="nav navbar-nav">
            <li><a style="cursor:pointer" onclick="getLogInForm()">Log In</a></li>
			<li><a style="cursor:pointer" onclick="getSignUpForm()">Sign Up</a></li>
        </ul>
	</div>

</div>
</nav>