			<li><a style="cursor:pointer" onclick="logOut()">Log Out</a></li>
			<li><a style="cursor:pointer" onclick="manageAccount()">Manage Account</a></li>
			<li class="loggedinmessage"><%= loggedinas %></li>