
            <li class="header-menu-link"><a style="cursor:pointer" onclick="getLogInForm()">Log In</a></li>
			<li class="header-menu-link"><a style="cursor:pointer" onclick="getSignUpForm()">Sign Up</a></li>