
@media only screen and (min-width: 64em) {
	a:hover {
cursor: pointer;
color: white;	
}

button {
	color: black;
}
.jumbotron {
  /*background: #532F8C;*/
  /*color: white;*/
  padding-bottom: 80px; 
  }
  
  .jumbotron legend {
  color: white;
  }
  .jumbotron input, textarea {
  color: black;
  }
  .container-fluid {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
  }
  
  nav.navbar .navbar-default {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
  }
  
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    /*color: #d9ccee;*/
    /*max-width: 75%;*/
    margin: 1em auto 2em;
	text-align: justify;	
}
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
	  nav.navbar ul li.link {
		  cursor: pointer;
	  }
	section.generalplaceofinterest {
		display: flex;
		flex-direction: row;
		border: 2px solid white;
		margin: 10px;
	}
	img.placeofinterestimage {
		width: 600px;
	}
}

@media only screen and (max-width: 40em) {
	
	img{
		max-width: 100%;
		max-height: auto;
	}
	
	img.map-image {
		max-width: 230px;
		max-height: 170px;
	}
	
	nav.navbar .navbar-default {
	  flex-direction: column;
	  justify-content: space-between;
  }
  
  .container-fluid {
	  flex-direction: column;
	  justify-content: space-between;
	  margin-left: 20px;
  }
  
	.navbar-brand {
	  width: 100%;
  }
  
  .jumbotron p {
	  font-size: 16px;
	  text-align: justify;
  }
}
