<p id="infomessage"><%= infomessage %></p>



<form>
                <fieldset>
                    <legend>Contact Us</legend>
                    <label class="top">Full name*<br> <input type="text" name="fname" pattern="[A-Za-z ]{2,}" id="fname" required></label><br>
                    <label class="top">Email*<br> <input type="email" name="email" id="email" placeholder="someone@gmail.com" pattern="[A-Za-z0-9.]+@[a-z0-9]+\.[a-z]{2,}$" required></label><br>
                    <label class="top">Comments*<br>
                        <textarea name="message" id="message" placeholder="Please, input the additional infromation here"></textarea><br>
                    </label>
                </fieldset>

                <input class="submitBtn" type="submit" value="Contact Us" onclick="resultOfSubmit()">

            </form>