<!-- views/pages/index2.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container" onload="getLogNav()" id="change">

<header>
    <% include ../partials/header2 %>
</header>

<main id="change2">
    <div class="jumbotron" id="change1">
	<div>
		<div id="landpage-heading">
		<h1>French Riviera</h1>
		<p>Welcome to French Riviera</p>
		</div>
	<img class="main-page-image" src="../images/Èze_und_Cap_Ferrat-Grande_Corniche.jpg" alt="The village of Èze, with its church “Our Lady of Assumption” (Notre-Dame de l’Assomption) and its castle in the foreground, and the Cape Ferrat in the background.">
		
	</div>
	<ul>
	<li><a href="#C1">General information</a></li>
	<li><a href="#C2">History</a></li>
	<li><a href="#C4">Climate</a></li>
	<li><a href="#C7">Transport</a></li>
	</ul>
	
	<h2 id="C1">General information</h2>
	<br>
	<p>The French Riviera, known in French as the Côte d'Azur ("Azure Coast"), is the Mediterranean coastline of the southeast corner of France. 
	There is no official boundary, but it is usually considered to extend from Cassis, just east of Marseille, to Menton, at the France–Italy border, although 
	some other sources place the western boundary further east around Toulon or Saint-Tropez. The coast is entirely within the Provence-Alpes-Côte d'Azur region of France. 
	The Principality of Monaco is a semi-enclave within the region, surrounded on three sides by France and fronting the Mediterranean. The French Riviera contains the seaside 
	resorts of Cap-d'Ail, Beaulieu-sur-Mer, Saint-Jean-Cap-Ferrat, Villefranche-sur-Mer, Antibes, Juan-les-Pins, Cannes, Saint-Raphaël, Fréjus, Sainte-Maxime and Saint-Tropez. 
	Its largest city is Nice, which has a population of 340,017 as of 2017. The French Riviera has a total population of more than two million. It is home to a high tech and 
	science park (French: technopole) at Sophia-Antipolis (north of Antibes) and a research and technology centre at the University of Nice Sophia Antipolis. The region has 
	35,000 students, of whom 25 percent are working toward a doctorate.[14] The French Riviera is a major yachting and cruising area with several marinas along its coast. 
	According to the Côte d'Azur Economic Development Agency, each year the Riviera hosts 50 percent of the world's superyacht fleet, with 90 percent of all superyachts visiting 
	the region's coast at least once in their lifetime. As a tourist centre, the French Riviera benefits from 310 to 330 days of sunshine per year, 115 kilometres (71 miles) 
	of coastline and beaches, 18 golf courses, 14 ski resorts and 3,000 restaurants.</p>

<h2 id="C2">History</h2>
	<br>
	<p>The region of the French Riviera has been inhabited since prehistoric times. Primitive tools dating to between 1,000,000 and 1,050,000 years ago were discovered in 
	the Grotte du Vallonnet, near Roquebrune-Cap-Martin, with stones and bones of animals, including bovines, rhinoceros, and bison. At Terra Amata (380,000 to 230,000 
	years ago), near the Nice Port, a fireplace was discovered that is one of the oldest found in Europe. Beginning in the 7th century BC, Greek sailors from Phocaea in 
	Asia Minor began to visit and then build emporia along the Côte d'Azur. Roman towns, monuments and amphitheatres were built along the Côte d'Azur and many still survive, 
	such as the amphitheatre and baths at Cimiez, above Nice, and the amphitheatre, Roman walls and other remains at Fréjus. Roman Provence reached the height of its power 
	and prosperity during the 2nd and 3rd centuries AD. In the mid-3rd century, Germanic peoples began to invade the region, and Roman power weakened. In the same period, 
	Christianity started to become a powerful force in the region. The first cathedrals were built in the 4th century, and bishoprics were established: in Fréjus at the end 
	of the 4th century, Cimiez and Vence in 439, and Antibes in 442. The oldest Christian structure still in existence on the Côte d'Azur is the baptistery of Fréjus Cathedral, 
	built at the end of the 5th century, which also saw the founding of the first monastery in the region, Lerins Monastery on an island off the coast at Cannes. In the 13th 
	century, another powerful political force appeared, the House of Grimaldi. Descended from a Genoese nobleman expelled from Genoa by his rivals in 1271, members of the 
	different branches of the Grimaldis took power in Monaco, Antibes and Nice, and built castles at Grimaud, Cagnes-sur-Mer and Antibes. Albert II, the current Prince of Monaco, 
	is a descendant of the Grimaldis. Until the end of the 18th century, the area later known as the Côte d'Azur was a remote and impoverished region, known mostly for fishing, 
	olive groves and the production of flowers for perfume (manufactured in Grasse). A new phase began when the coast became a fashionable health resort for the British upper 
	class in the late 18th century. In the mid-19th century, British and French entrepreneurs began to see the potential of promoting tourism along the Côte d'Azur. The Cannes 
	Film Festival was launched in September 1946, marking the return of French cinema to world screens. </p>

<h2 id="C4">Climate</h2>
	<br>
	<p>The French Riviera is mostly subtropical, featuring a Mediterranean climate, with sunny, hot, dry summers and mild winters. Winter temperatures are moderated by the 
	Mediterranean; days of frost are rare. The average daily low temperature in Nice in January is 5.4 °C (41.7 °F); the January average daily low temperature in Toulon is 
	6.2 °C (43.2 °F). The average high temperature in August in Nice is 28.6 °C (83.5 °F); in Toulon the average daily high temperature is 29.7 °C (85.5 °F)
	The Côte d'Azur receives more rainfall annually than Paris (803.3 mm (31.63 in) annually in Nice and 684.8 mm (26.96 in) in Toulon compared with 649.8 mm (25.58 in) in Paris), 
	but the rainy days are much less frequent and the Riviera is considerably sunnier; 111 rainy days a year in Paris compared with 61 days in Toulon and 63 in Nice. Rain is 
	generally more common in the Autumn and Winter months while the summers are drier. Toulon has 2,793 hours of sunshine a year, Nice has 2,668 hours. The French Riviera is 
	one of the mildest locations in the world for its latitude, owing to the Gulf Stream which moderates the temperatures in Western Europe, particularly in winter and the 
	warming effect of the Mediterranean Sea. Because of this, the region boasts a long growing season and supports the growth of exotic flora such as Citrus Fruits and Palm Trees. 
	Snow is very uncommon in the winters and the long, hot and sunny summers have long been a draw for tourists since the days of British Aristocracy.</p>
	
	<h2 id="C7">Transport</h2>
	<br>
	<p>Nice is home to Nice Côte d'Azur Airport, France's third-busiest airport (after Charles de Gaulle Airport and Orly Airport), which is on an area of partially reclaimed 
	coastal land at the western end of the Promenade des Anglais. The A8 autoroute runs through the region, as does the old main road generally known as the Route nationale 7 
	(officially now DN7 in Var and D6007 in Alpes-Maritimes). High-speed trains serve the coastal region and inland to Grasse, with the TGV Sud-Est service reaching Nice-Ville 
	station in five and a half hours from Paris.</p>
	
	
</div>

<!--<button type="button" onclick="getPlacesOfInterest()">Places Of Interest</button>-->
</main>

<footer>
    <% include ../partials/footer %>
</footer>

<script>
function getLogNav() {
console.log("getLogNav is working     !!!!!!!!!!!!!!!!!!!!!!!!!!!!          !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!");
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("loginoutmenu").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "/getloginoutmenu", true);
  xhttp.send();
}


function getPlacesOfInterest() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("change1").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "/placesofinterestlist", true);
  xhttp.send();
}


function getSignUpForm() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("change1").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "/getsignupform", true);
  xhttp.send();
}

function getLogInForm() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("change1").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "/getloginform", true);
  xhttp.send();
}

function logIn() {
  var xhttp = new XMLHttpRequest();
  var useremail = document.getElementById("userEmail").value;
	var userpassword = document.getElementById("userPassword").value;
	var myobj = { "email":useremail,"password":userpassword };
var jsonstring = JSON.stringify( myobj );
var postjson = "jsonstring="+encodeURIComponent( jsonstring );
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("change1").innerHTML = this.responseText;
	  getLogNav();
    }
  };
  xhttp.open("POST", "/login", true);
  xhttp.setRequestHeader("Content-type", 'application/x-www-form-urlencoded');
  xhttp.send(postjson);
}

function signUp() {
  var xhttp = new XMLHttpRequest();
  var username = document.getElementById("userName").value;
  var useremail = document.getElementById("userEmail").value;
	var userpassword = document.getElementById("userPassword").value;
	var myobj = { "name":username,"email":useremail,"password":userpassword };
var jsonstring = JSON.stringify( myobj );
var postjson = "jsonstring="+encodeURIComponent( jsonstring );
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("change1").innerHTML = this.responseText;
	  
    }
  };
  xhttp.open("POST", "/signup", true);
  xhttp.setRequestHeader("Content-type", 'application/x-www-form-urlencoded');
  xhttp.send(postjson);
}


function logOut() {
console.log("logOut is working     !!!!!!!!!!!!!!!!!!!!!!!!!!!!          !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!");
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("change").innerHTML = this.responseText;
	  getLogNav();
    }
  };
  xhttp.open("GET", "/logout", true);
  xhttp.send();
}


function manageAccount(){
var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("change1").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "/manageaccount", true);
  xhttp.send();
}

function getManageAccountForm(){
var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("change1").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "/getmanageaccountform", true);
  xhttp.send();
}

function updateAccount(){
var xhttp = new XMLHttpRequest();
var userid = document.getElementById("userId").value;
var username = document.getElementById("userName").value;
  var useremail = document.getElementById("userEmail").value;
	var myobj = { "userid":userid,"name":username,"email":useremail };
var jsonstring = JSON.stringify( myobj );
var postjson = "jsonstring="+encodeURIComponent( jsonstring );
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("change1").innerHTML = this.responseText;
    }
  };
  xhttp.open("PUT", "/updateaccountinfo", true);
  xhttp.setRequestHeader("Content-type", 'application/x-www-form-urlencoded');
  xhttp.send(postjson);
}

function updatePassword(){
var xhttp = new XMLHttpRequest();
var userid = document.getElementById("userId").value;
	var userpassword = document.getElementById("userPassword").value;
	var myobj = { "userid":userid, "password":userpassword };
var jsonstring = JSON.stringify( myobj );
var postjson = "jsonstring="+encodeURIComponent( jsonstring );
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("change1").innerHTML = this.responseText;
	  
    }
  };
  xhttp.open("POST", "/updatepassword", true);
  xhttp.setRequestHeader("Content-type", 'application/x-www-form-urlencoded');
  xhttp.send(postjson);
}

function getPlaceOfInterestDetails(id) {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
	console.log(this.responseText);
      document.getElementById("change1").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "/placeofinterestdetails?id=" + id, true);
  xhttp.send();
}

function getManagePlacesOfInterestPage(){
var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
	console.log(this.responseText);
      document.getElementById("change1").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "/getmanageplacesofinterestpage", true);
  xhttp.send();
}

function getAddPlaceOfInterestPage(){
var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
	console.log(this.responseText);
      document.getElementById("change1").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "/getaddplaceofinterestpage", true);
  xhttp.send();
}

function addPlaceOfInterest(){
var xhttp = new XMLHttpRequest();
var placeofinterestname = document.getElementById("placeOfInterestName").value;
  var placeofinterestdescription = document.getElementById("placeOfInterestDescription").value;
  var locationname = document.getElementById("placeOfInterestLocationName").value;
  var locationid = document.getElementById("placeOfInterestLocationId").value;
  var priceforvisit = document.getElementById("placeOfInterestPriceForVisit").value;
  var locationmap = document.getElementById("placeOfInterestLocationMap").value;
  var openhours = document.getElementById("placeOfInterestOpenHours").value;
  var phonenumber = document.getElementById("placeOfInterestPhoneNumber").value;
  var website = document.getElementById("placeOfInterestWebsite").value;
  var image = document.getElementById("placeOfInterestImage").value;
	var myobj = { "placeofinterestname":placeofinterestname,"placeofinterestdescription":placeofinterestdescription, 
	"locationname":locationname,"locationid":locationid, "priceforvisit":priceforvisit,"locationmap":locationmap, 
	"openhours":openhours,"phonenumber":phonenumber, "website":website,"image":image};
var jsonstring = JSON.stringify( myobj );
var postjson = "jsonstring="+encodeURIComponent( jsonstring );
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
	console.log(this.responseText);
      document.getElementById("change1").innerHTML = this.responseText;
    }
  };
  xhttp.open("POST", "/addplaceofinterest", true);
  xhttp.setRequestHeader("Content-type", 'application/x-www-form-urlencoded');
  xhttp.send(postjson);
}

function getUpdatePlaceOfInterestPage(id){
var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
	console.log(this.responseText);
      document.getElementById("change1").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "/getupdateplaceofinterestpage?id=" + id, true);
  xhttp.send();
}

function updatePlaceOfInterest(){
var xhttp = new XMLHttpRequest();
var id = document.getElementById("placeOfInterestId").value;
var placeofinterestname = document.getElementById("placeOfInterestName").value;
  var placeofinterestdescription = document.getElementById("placeOfInterestDescription").value;
  var locationname = document.getElementById("placeOfInterestLocationName").value;
  var locationid = document.getElementById("placeOfInterestLocationId").value;
  var priceforvisit = document.getElementById("placeOfInterestPriceForVisit").value;
  var locationmap = document.getElementById("placeOfInterestLocationMap").value;
  var openhours = document.getElementById("placeOfInterestOpenHours").value;
  var phonenumber = document.getElementById("placeOfInterestPhoneNumber").value;
  var website = document.getElementById("placeOfInterestWebsite").value;
  var image = document.getElementById("placeOfInterestImage").value;
	var myobj = { "id":id,"placeofinterestname":placeofinterestname,"placeofinterestdescription":placeofinterestdescription, 
	"locationname":locationname,"locationid":locationid, "priceforvisit":priceforvisit,"locationmap":locationmap, 
	"openhours":openhours,"phonenumber":phonenumber, "website":website,"image":image};
var jsonstring = JSON.stringify( myobj );
var postjson = "jsonstring="+encodeURIComponent( jsonstring );
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
	console.log(this.responseText);
      document.getElementById("change1").innerHTML = this.responseText;
    }
  };
  xhttp.open("POST", "/updateplaceofinterest", true);
  xhttp.setRequestHeader("Content-type", 'application/x-www-form-urlencoded');
  xhttp.send(postjson);
}

function getDeletePlaceOfInterestPage(id){
var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
	console.log(this.responseText);
      document.getElementById("change1").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "/getdeleteplaceofinterestpage?id=" + id, true);
  xhttp.send();
}

function deletePlaceOfInterest(id) {
var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
	console.log(this.responseText);
      document.getElementById("change1").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "/deleteplaceofinterest?id=" + id, true);
  xhttp.send();
}

function getContactForm() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("change1").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "/getcontactform", true);
  xhttp.send();
}


function resultOfSubmit() {
console.log("Hi the form is working");
var fname = document.getElementById("fname").value;
var email = document.getElementById("email").value;
var message = document.getElementById("message").value;
var myobj = { "name":fname,"email":email,"message":message };
var jsonstring2 = JSON.stringify( myobj );
var postjson2 = "jsonstring2="+encodeURIComponent( jsonstring2 );
var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("change1").innerHTML = this.responseText;
    }
  };
  xhttp.open("POST", "/contactinfo", true);
  xhttp.setRequestHeader("Content-type", 'application/x-www-form-urlencoded');
  xhttp.send(postjson2);
}





</script>
<script src="index.js"></script>

</body>
</html>