<!-- views/pages/index2.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header2 %>
</header>

<main>
    <div class="jumbotron" id="demo">
        <h1>Travel in Ukraine</h1>
        <p>Welcome to Ukraine</p>
    </div>
	

<button type="button" onclick="getPlacesOfInterest()">Places Of Interest</button>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

<script>
function getPlacesOfInterest() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "/placesofinterestlist", true);
  xhttp.send();
}
</script>
<script src="index.js"></script>

</body>
</html>