<p id="infomessage"><%= infomessage %></p>

<label for="userEmail">E-mail:</label><br>
<input type="email" id="userEmail" name="userEmail" placeholder="someone@gmail.com" pattern="[a-z0-9\._%+-]+@[a-z0-9.]+\.[a-z]{2,}$" required><br>
<label for="userPassword">Password:</label><br>
<input type="password" name="userPassword" id="userPassword" pattern="(?=^.{8,}$)(?=.*\d)(?=.*\W+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required><br><br>
<button onclick="logIn()">Log in</button>
<p id="login">Not registered yet?</p>
<button type="button"><a id="aregister" onclick="getSignUpForm()" title="a link to a sign_up page">Sign Up</a></button>