<main>
    <div class="jumbotron" id="change1">
        <h1>Travel in Ukraine</h1>
        <p>Welcome to Ukraine</p>
    
	<ul>
	<li><a href="#C1">General information</a></li>
	<li><a href="#C2">History</a></li>
	<li><a href="#C3">Geography</a></li>
	<li><a href="#C4">Climate</a></li>
	<li><a href="#C5">Nature</a></li>
	<li><a href="#C6">Economy</a></li>
	<li><a href="#C7">Transport</a></li>
	</ul>
	
	<h2 id="C1">General information</h2>
	<br>
	<p>Ukraine is a country in Eastern Europe. Ukraine has a population of about 44 million, making it the 32nd most populous country in the world. 
	Its capital and largest city is Kiev. Ukrainian is the official language and its alphabet is Cyrillic. 
	The dominant religions in the country are Eastern Orthodoxy and Greek Catholicism. 
	Ukraine has an area of 603,628 km2 (233,062 sq mi), making it the largest country entirely within Europe and the 46th largest country in the world. 
	Because of its extensive fertile farmlands, Ukraine is one of the world's largest grain exporters. 
	The country is home to a multi-ethnic population, 77.8 percent of whom are Ukrainians, followed by a very large Russian minority, 
	as well as Georgians, Romanians, Belarusians, Crimean Tatars, Jews, Bulgarians and Hungarians. In 2007 Ukraine occupied 8th place in Europe by the number 
	of tourists visiting, according to the World Tourism Organization rankings. Ukraine has numerous tourist attractions: mountain ranges suitable for 
	skiing, hiking and fishing: the Black Sea coastline as a popular summer destination; nature reserves of different ecosystems; churches, castle ruins and 
	other architectural and park landmarks; various outdoor activity points. Kiev, Lviv, Odessa and Kamyanets-Podilskyi are Ukraine's principal tourist centres 
	each offering many historical landmarks as well as formidable hospitality infrastructure.</p>
	
<a href="http://www.maphill.com/ukraine/location-maps/political-map/" title="Political Location Map of Ukraine"><img src="http://maps.maphill.com/ukraine/location-maps/political-map/free-fancy-political-location-map-of-ukraine.jpg" width="423" height="303" alt="Political Location Map of Ukraine"/></a><br/><a href="http://www.maphill.com/ukraine/location-maps/political-map/" title="Political Location Map of Ukraine">Political Location Map of Ukraine</a>

<h2 id="C2">History</h2>
	<br>
	<p>The territory of modern Ukraine has been inhabited since 32,000 BC. During the Middle Ages, the area was a key centre of East Slavic culture, 
	with the powerful state of Kievan Rus' forming the basis of Ukrainian identity. Following its fragmentation in the 13th century, the territory was contested, 
	ruled and divided by a variety of powers, including Lithuania, Poland, Austria-Hungary, the Ottoman Empire and Russia. 
	A Cossack republic emerged and prospered during the 17th and 18th centuries, but its territory was eventually split between Poland and the Russian Empire, 
	and finally merged fully into the Russian-dominated Soviet Union in the late 1940s as the Ukrainian Soviet Socialist Republic. In 1991, 
	Ukraine gained its independence from the Soviet Union in the aftermath of its dissolution at the end of the Cold War.</p>
	
	<h2 id="C3">Geography</h2>
	<br>
	<p>At 603,628 square kilometres (233,062 sq mi) and with a coastline of 2,782 kilometres (1,729 mi), Ukraine is the world's 46th-largest country 
	(after South Sudan and before Madagascar). It is the largest wholly European country and the second-largest country in Europe (after the European part of 
	Russia, before metropolitan France).[e][36] It lies between latitudes 44° and 53° N, and longitudes 22° and 41° E.

The landscape of Ukraine consists mostly of fertile plains (or steppes) and plateaus, crossed by rivers such as the Dnieper (Dnipro), Seversky Donets, 
Dniester and the Southern Bug as they flow south into the Black Sea and the smaller Sea of Azov. To the southwest, the delta of the Danube forms the border with 
Romania. Ukraine's various regions have diverse geographic features ranging from the highlands to the lowlands. The country's only mountains are the Carpathian 
Mountains in the west, of which the highest is the Hora Hoverla at 2,061 metres (6,762 ft), and the Crimean Mountains on Crimea, in the extreme south along the 
coast.</p>

<a href="http://www.maphill.com/ukraine/maps/physical-map/satellite-outside/shaded-relief-sea/" title="Physical Map of Ukraine, satellite outside, shaded relief 
sea"><img src="http://maps.maphill.com/ukraine/maps/physical-map/satellite-outside/shaded-relief-sea/free-fancy-physical-map-of-ukraine-satellite-outside-shaded-relief-sea.jpg" 
width="423" height="317" alt="Physical Map of Ukraine, satellite outside, shaded relief sea"/></a><br/><a href="http://www.maphill.com/ukraine/maps/physical-map/satellite-outside/shaded-relief-sea/" 
title="Physical Map of Ukraine, satellite outside, shaded relief sea">Physical Map of Ukraine, satellite outside, shaded relief sea</a>

<h2 id="C4">Climate</h2>
	<br>
	<p>Ukraine has a mostly temperate climate, with the exception of the southern coast of Crimea which has a subtropical climate. 
	The climate is influenced by moderately warm, humid air coming from the Atlantic Ocean.[200] Average annual temperatures range from 5.5–7 °C (41.9–44.6 °F) 
	in the north, to 11–13 °C (51.8–55.4 °F) in the south.[200] Precipitation is disproportionately distributed; it is highest in the west and north and lowest 
	in the east and southeast. Western Ukraine, particularly in the Carpathian Mountains, receives around 1,200 millimetres (47.2 in) of precipitation 
	annually, while Crimea and the coastal areas of the Black Sea receive around 400 millimetres (15.7 in).</p>
	
	<h2 id="C5">Nature</h2>
	<br>
	<p>The area in the west of the country is made up of the borderlands of Europe, 
	where there are species typical of mixed forests. In eastern Ukraine, steppe-dwelling species thrive. In the forested areas of 
	the country it is not uncommon to find lynxes, wolves, wild boar and martens, as well as many other similar species; this is especially true of the 
	Carpathian Mountains, where a large number of predatory mammals make their home, as well as a contingent of brown bears. Around Ukraine's lakes and rivers 
	beavers, otters and mink make their home, whilst in the waters carp, bream and catfish are the most commonly found species of fish. In the central and 
	eastern parts of the country, rodents such as hamsters and gophers are found in large numbers.</p>
	
	<h2 id="C6">Economy</h2>
	<br>
	<p>Ukraine's 2010 GDP (PPP), as calculated by the CIA, is ranked 38th in the world and estimated at $305.2 billion. Its GDP per capita in 2010 according 
	to the CIA was $6,700 (in PPP terms), ranked 107th in the world. Nominal GDP (in U.S. dollars, calculated at market exchange rate) was $136 billion, 
	ranked 53rd in the world. Ukraine produces nearly all types of transportation vehicles and spacecraft. Antonov airplanes and KrAZ trucks are exported to 
	many countries. The majority of Ukrainian exports are marketed to the European Union and CIS. Since independence, Ukraine has maintained its own space 
	agency, the National Space Agency of Ukraine (NSAU). Ukraine became an active participant in scientific space exploration and remote sensing missions. 
	Between 1991 and 2007, Ukraine has launched six self made satellites and 101 launch vehicles, and continues to design spacecraft.

The country imports most energy supplies, especially oil and natural gas and to a large extent depends on Russia as its energy supplier. 
While 25% of the natural gas in Ukraine comes from internal sources, about 35% comes from Russia and the remaining 40% from Central Asia through transit routes 
that Russia controls. At the same time, 85% of the Russian gas is delivered to Western Europe through Ukraine.

Growing sectors of the Ukrainian economy include the information technology (IT) market, which topped all other Central and Eastern European countries in 2007, 
growing some 40 percent. In 2013, Ukraine ranked fourth in the world in number of certified IT professionals after the United States, India and Russia.</p>


	
	<h2 id="C7">Transport</h2>
	<br>
	<p>Major routes, marked with the letter 'M' for 'International' (Ukrainian: Міжнародний), extend nationwide and connect all major cities of Ukraine, 
	and provide cross-border routes to the country's neighbours. There are only two true motorway standard highways in Ukraine; a 175-kilometre (109-mile) 
	stretch of motorway from Kharkiv to Dnipro and a section of the M03 which extends 18 km (11 mi) from Kiev to Boryspil, where the city's international 
	airport is located.

Rail transport in Ukraine connects all major urban areas, port facilities and industrial centres with neighbouring countries. Currently the state has a monopoly 
on the provision of passenger rail transport, and all trains, other than those with cooperation of other foreign companies on international routes, are operated 
by its company 'Ukrzaliznytsia'.
Transport by air has a visa-free programme for EU nationals and citizens of a number of other Western nations. Kiev Boryspil is the county's largest international 
airport; it has three main passenger terminals and is the base for the country's flag carrier, Ukraine International Airlines. Other large airports in the 
country include those in Kharkiv, Lviv, whilst those in Dnipro and Odessa have plans for terminal upgrades in the near future. 
In addition to its flag carrier, Ukraine has a number of airlines including Windrose Airlines, Dniproavia, Azur Air Ukraine, and AtlasGlobal Ukraine. Antonov 
Airlines, a subsidiary of the Antonov Aerospace Design Bureau is the only operator of the world's largest fixed wing aircraft, the An-225.

International maritime travel is mainly provided through the Port of Odessa, from where ferries sail regularly to Istanbul, Varna and Haifa. The largest ferry 
company presently operating these routes is Ukrferry.</p>
	
	
</div>

<!--<button type="button" onclick="getPlacesOfInterest()">Places Of Interest</button>-->
</main>