<p id="successmessage"><%= updateaccountresult %></p>

<ul>
<li><b>Your name is </b><%= name %></li>
<li><b>Your email is </b><%= email %></li>
<li><a style="cursor:pointer" onclick="getManageAccountForm()">Update account information</a></li>
</ul>