<p id="successmessage"><%= updateaccountresult %></p>

<ul>
<li><b>Your name: </b><%= name %></li>
<li><b>Your email: </b><%= email %></li>
</ul>

<button style="cursor:pointer" onclick="getManageAccountForm()">Update account information</button>

<h3>As <%= name %> you can:</h3>


<button onclick="getManagePlacesOfInterestPage()">Manage places of interest</button>
