<h2 id="change2">Manage Places of Interest page</h2>

<p><%= infomessage %></p>

<a onclick="getAddPlaceOfInterestPage()">Add Place of Interest</a><br><br><br>

<ul>
    <% placesOfInterest.forEach(function(placeOfInterest) { %>
        <li><%= placeOfInterest.placeofinterestname %><a onclick="getUpdatePlaceOfInterestPage(<%= placeOfInterest.id %>)">  Update  </a><a onclick="getDeletePlaceOfInterestPage(<%= placeOfInterest.id %>)">  Delete  </a></li>
    <% }); %>
</ul>