<form>
<label for="userName">Full name:</label><br>

<input type="text" id="userName" name="userName" pattern="[A-Za-z ]{2,}" value="<%= name %>" required><br>
<label for="userEmail">E-mail:</label><br>
<input type="email" id="userEmail" name="userEmail" placeholder="someone@gmail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.]+\.[a-z]{2,}$" value="<%= email %>" required><br><br>
<input type="submit" value="Update Account" onclick="updateAccount()">
</form>
<h2>Change Password</h2>
   <p>You can use this form to update your password. Entering and submitting a new password in this field you will change the current password.</p>
<form>
<label for="userPassword">Password:</label><br>
<span class="passworddescription">Passwords must be at least 8 characters and contain at least 1 number, 1 capital letter, 1 lower case letter and 1 special character</span><br>
<input type="password" name="userPassword" id="userPassword" pattern="(?=^.{8,}$)(?=.*\d)(?=.*\W+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required><br><br>
<input type="submit" value="Change Password" onclick="updatePassword()">
</form>