<h2>Places of Interest in Ukraine</h2>


<ul>
    <% placesOfInterest.forEach(function(placeOfInterest) { %>
        <li><%= placeOfInterest.placeofinterestname %> - <%= placeOfInterest.locationname %></li>
    <% }); %>
</ul>


